<h1>Random Number Results</h1>
<p>
  <div>Minimum: <%= @min %></div>
  <div>Maximum: <%= @max %></div>
  <div>Random Number: <%= @random_number %></div>
</p>
<a href="/random/new">Pick another random number</a>
