<form action="/square_root/results" method="get">
  <div style="display: flex; gap: 10px;">
    <label for="number">Enter a number</label>
    <input type="text" id="number" name="number" placeholder="What number do you want?" required>
  </div>
  <br>
  <button type="submit">Calculate square root</button>
</form>
